In [1]:
import pandas as pd

In [2]:
distance_data = pd.read_csv("./../Ndistance.txt", index_col=0)
names = {0:"A", 1:"B", 2:"C", 3:"D", 4:"E", 5: "F", 6:"G", 7:"H", 8:"I", 9:"J"}
distance_data.rename(index=names, inplace=True)
distance_data.columns = list(names.values())
distance_data

,A,B,C,D,E,F,G,H,I,J
A,0.000000,0.573975,0.683544,0.649910,0.639640,0.647706,0.655296,0.621818,0.697248,0.678636
B,0.573975,0.000000,0.583490,0.554307,0.541199,0.554307,0.546314,0.520295,0.602996,0.569288
C,0.683544,0.583490,0.000000,0.459402,0.449893,0.408297,0.434498,0.457806,0.462585,0.429194
D,0.649910,0.554307,0.459402,0.000000,0.384289,0.410788,0.278396,0.397590,0.409800,0.316258
E,0.639640,0.541199,0.449893,0.384289,0.000000,0.386076,0.363441,0.409736,0.419006,0.346237
F,0.647706,0.554307,0.408297,0.410788,0.386076,0.000000,0.382353,0.326180,0.364896,0.394958
G,0.655296,0.546314,0.434498,0.278396,0.363441,0.382353,0.000000,0.355691,0.367347,0.292517
H,0.621818,0.520295,0.457806,0.397590,0.409736,0.326180,0.355691,0.000000,0.377970,0.390244
I,0.697248,0.602996,0.462585,0.409800,0.419006,0.364896,0.367347,0.377970,0.000000,0.213942
J,0.678636,0.569288,0.429194,0.316258,0.346237,0.394958,0.292517,0.390244,0.213942,0.000000

In [3]:
half_list = []
labels = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
distance_data = distance_data.to_numpy()
for i in range(10):
    row = []
    for j in range(i):
        row.append(distance_data[i][j])
    half_list.append(row)
del row

In [4]:
def lowest_value(table):
    """ Given an 2d array the function returns the lowest value in the array."""
    min_cell = float("inf")
    x, y = -1, -1

    for i in range(len(table)):
        for j in range(len(table[i])):
            if table[i][j] < min_cell:
                min_cell = table[i][j]
                x, y = i, j

    return x, y

def join_labels(labels, a, b):
    """ Used for keeping track of combined nodes easier.
        Deletes the larger valued node after the combination """
    
    if b < a:
        a, b = b, a
    labels[a] = "(" + labels[a] + "," + labels[b] + ")"
    del labels[b]

def join_table(table, a, b):
    """
        Given the coordinates of the smallest element, this function joins 
        the corresponding rows according to the UPGMA algorithm. 
        """
    if b < a:
        a, b = b, a

    row = []
    for i in range(0, a):
        row.append((table[a][i] + table[b][i])/2)
    table[a] = row
    
    for i in range(a+1, b):
        table[i][a] = (table[i][a]+table[b][i])/2
        
    for i in range(b+1, len(table)):
        table[i][a] = (table[i][a]+table[i][b])/2
        del table[i][b]

    del table[b]

In [5]:
def UPGMA(table, labels):
    """
        Phylogenetic tree in The Newick tree format """
    while len(labels) > 1:
        x, y = lowest_value(table)
        join_table(table, x, y)
        join_labels(labels, x, y)
    return labels[0]

In [6]:
UPGMA(half_list, labels)

'(A,(B,(C,((((D,G),(I,J)),E),(F,H)))))'